
:root {
    --primary: #325CFE;
    --primary-1: #2897FF;
    --primary-2: #6FBAFF;
    --primary-3: #B4DBFF;
    --primary-4: #EAF2FF;
    --primary-5: #2E57F2;

    --neutral-1: #C5C6CC;
    --neutral-2: #D4D6DD;
    --neutral-3: #E8E9F1;
    --neutral-4: #F8F9FE;
}